<h2 mat-dialog-title>Please submit your queries? We'll get back to you soon!</h2>
<div class="form-group">
  <label>Name:  </label>
  <br />
  <input type="text" />
    <br />
  <label>Email:</label>
    <br />
  <input type="text" />
    <br />
  <label>Description:</label>
  <textarea name="description" rows="6" cols="10" maxlength="5000"></textarea>
    <br />
</div>
<button class="my-button" mat-button mat-dialog-close>Cancel</button>
<button class="my-button" mat-button mat-dialog-close>Submit</button>
